<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cupcakes</title>
    <style>
      #bottom-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      #cupcake-form {
        margin-right: 160px;
      }
      #display-cupcake {
        max-width: 400px;
        max-height: 400px;
      }
      .cupcake-img {
        max-width: 200px;
        max-height: 200px;
      }
      img,
      button {
        cursor: pointer;
      }
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      li {
        border: 2px solid gold;
        padding: 10px;
        margin: 15px;
      }
    </style>
  </head>
  <body>
    <h1>Cupcakes are delicious!</h1>
    <ul id="cupcakes"></ul>
    <div id="bottom-container">
      <div id="cupcake-form">
        <h2>Add a cupcake</h2>
        <form class="newcupcake" action="" method="POST">
          <div>
            <label for="flavor">Flavor</label>
            <input type="text" id="flavor" name="flavor" />
          </div>
          <div>
            <label for="size">Size</label>
            <input type="text" id="size" name="size" />
          </div>
          <div>
            <label for="rating">Rating</label>
            <input
              type="number"
              id="rating"
              name="rating"
              step="0.01"
              min="1"
              max="10"
            />
          </div>
          <div>
            <label for="image">Image URL</label>
            <input type="text" id="image" name="image" />
          </div>
          <button>Add</button>
        </form>
      </div>
      <div id="update-cupcake">
        <img
          id="display-cupcake"
          src="https://plus.unsplash.com/premium_photo-1663839412124-3697b75810ca?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="cupcake"
        />
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
      integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script>
      const BASE_URL = "http://localhost:5000/api/cupcakes";

      function createCupcakeMarkup(cupcake) {
        return `
      <li data-id="${cupcake.id}">
        <div>
        ${cupcake.flavor},  ${cupcake.size},  ${cupcake.rating}
        <button class="delete-cupcake">X</button></div>
        <img class="cupcake-img"
            src="${cupcake.image}"
            alt="(no image provided)">
      </li>`;
      }
      function createFormMarkup(cupcake) {
        return `<h2>Update cupcake</h2><form class="updatecupcake">
          <div>
            <label for="flavor-update">Flavor</label>
            <input type="text" id="flavor-update" name="flavor" value=${cupcake.flavor} />
          </div>
          <div>
            <label for="size-update">Size</label>
            <input type="text" id="size-update" name="size" value=${cupcake.size} />
          </div>
           <div>
            <label for="rating-update">Rating</label>
            <input
              type="number"
              id="rating-update"
              name="rating"
              step="0.01"
              min="1"
              max="10"
              value=${cupcake.rating}
            />
          </div>
          <div>
            <label for="image-update">Image URL</label>
            <input type="text" id="image-update" name="image" value=${cupcake.image}/>
          </div>
          <button id="btn-update" data-id="${cupcake.id}">Update </button>
          </form>`;
      }
      async function showCupcakes() {
        const res = await axios.get(BASE_URL);
        //console.log(res.data.cupcakes);
        for (let cupcake of res.data.cupcakes) {
          let newCupcake = $(createCupcakeMarkup(cupcake));
          $("#cupcakes").append(newCupcake);
        }
      }

      $(".newcupcake").on("submit", createCupcake);
      async function createCupcake(e) {
        e.preventDefault();
        let flavor = $("#flavor").val();
        let size = $("#size").val();
        let rating = $("#rating").val();
        let image = $("#image").val();
        if (image === "")
          image =
            "https://plus.unsplash.com/premium_photo-1663839412124-3697b75810ca?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D";
        const res = await axios.post(BASE_URL, { flavor, size, rating, image });
        //console.log(res.data);
        let newCupcake = $(createCupcakeMarkup(res.data.cupcake));
        $("#cupcakes").append(newCupcake);
        $("#newcupcake").trigger("reset");
        $("#display-cupcake").attr("src", res.data.cupcake.image);
      }

      async function deleteCupcake(e) {
        e.preventDefault();
        let $cupcake = $(e.target).closest("li");
        let id = $cupcake.attr("data-id");
        //console.log("ID", id);
        const res = await axios.delete(`${BASE_URL}/${id}`);
        //console.log(res.data);
        $cupcake.remove();
      }
      async function showCupcake(e) {
        e.preventDefault();
        let $cupcake = $(e.target).closest("li");
        let id = $cupcake.attr("data-id");
        console.log("Show ID", id);
        const res = await axios.get(`${BASE_URL}/${id}`);
        $("#display-cupcake").attr("src", res.data.cupcake.image);
        $("#update-cupcake").attr("data-id", id);
      }
      async function updateForm(e) {
        e.preventDefault();
        let id = $("#update-cupcake").attr("data-id");
        const res = await axios.get(`${BASE_URL}/${id}`);
        $("#update-cupcake img").hide();
        $("#update-cupcake").removeAttr("data-id");
        let updateForm = $(createFormMarkup(res.data.cupcake));
        $("#update-cupcake").append(updateForm);
        $(".updatecupcake").on("submit", updateCupcake);
      }
      async function updateCupcake(e) {
        e.preventDefault();
        console.log("Finally updated");
        let flavor = $("#flavor-update").val();
        //console.log("flavor", flavor);
        let size = $("#size-update").val();
        let rating = $("#rating-update").val();
        let image = $("#image-update").val();
        if (image === "")
          image =
            "https://plus.unsplash.com/premium_photo-1663839412124-3697b75810ca?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D";
        let id = $("#btn-update").attr("data-id");
        console.log("Button ID", id);
        const res = await axios.patch(
          `${BASE_URL}/${id}`,
          {
            flavor: flavor,
            size: size,
            rating: rating,
            image: image,
          },
          { headers: { "Content-Type": "application/json" } }
        );
        console.log("data", res.data);
        $("#cupcakes").empty();
        $(showCupcakes);
        //$("#update-cupcake").empty();
        //$(".updatecupcake").hide();
        //$("#update-cupcake h2").hide();
        $(".updatecupcake").remove();
        $("#update-cupcake h2").remove();
        $("#update-cupcake img").show();
        //$("#update-cupcake").removeAttr("data-id");
      }
      $("#cupcakes").on("click", ".delete-cupcake", deleteCupcake);
      $("#cupcakes").on("click", "img", showCupcake);
      $("#display-cupcake").on("click", updateForm);
      $(showCupcakes);
    </script>
  </body>
</html>
